<%= form_with(model: stc, local: true) do |form| %>
  <% if stc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stc.errors.count, "error") %> prohibited this stc from being saved:</h2>

      <ul>
      <% stc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
