<script type="text/javascript" src="/javascripts/lib/stcCheck.js"></script>

<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
         <%= link_to "Log out", "/login", method: :destroy %>
      </h1>
    </section>
  </aside>
</div>
<div class="row">

  <form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have You taken Probability and Statistics?</p>
      Yes<input type="radio" name="course" id="mathYes" onclick="checkMath()" value="yes">
      No<input type="radio" name="course" id="mathNo" onclick="checkMath()" value="no">
</form>

      <br>
      <br>
<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you taken Data Structures?</p>
      Yes<input type="radio" name="course" id="cscYes" onclick="checkCsc()" value="yes">
      No<input type="radio" name="course" id="cscNo" onclick="checkCsc()" value="no">



</form>
<br>
<br>

<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you satisfied your humanities requirements?</p>
      Yes<input type="radio" name="course" id="cscYes" onclick="checkCsc()" value="yes">
      No<input type="radio" name="course" id="cscNo" onclick="checkCsc()" value="no">

</form>




</div>
