<script type="text/javascript" src="/javascripts/lib/stcCheck.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
th{
    background-color:	#6495ED;
    color:white;
    font-size: 22px;
    align:right;
    padding-left: 12px;
}

</style>

<% provide(:title, @user.name) %>
<div class="w3-container">

    <section class="w3-center">
      <br>
      <br>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
         <%= link_to "Log out", "/login", method: :destroy,:class => "btn btn-primary"%>
      </h1>
    </section>

</div>
<div class="w3-container">
  <div class="w3-center">

  <form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you completed all your Mathematics courses?</p>
      Yes<input type="radio" name="course" id="mathYes" onclick="checkMath()" value="yes">
      No<input type="radio" name="course" id="mathNo" onclick="checkMath()" value="no">
      <div id="addMath"></div>
</form>
<br>
<br>
<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you satisfied your Computer Science courses?</p>
      Yes<input type="radio" name="course" id="cscYes" onclick="checkCsc()" value="yes">
      No<input type="radio" name="course" id="cscNo" onclick="checkCsc()" value="no">
      <div id="addCompSci"></div>
</form>
<br>
<br>
<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you satisfied your Physical Education courses?</p>
      Yes<input type="radio" name="course" id="peYes" onclick="checkPE()" value="yes">
      No<input type="radio" name="course" id="peNo" onclick="checkPE()" value="no">
      <div id="addPe"></div>
</form>

<br>
<br>
<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you satisfied all your Free Elective courses?</p>
      Yes<input type="radio" name="course" id="eleYes" onclick="checkEle()" value="yes">
      No<input type="radio" name="course" id="eleNo" onclick="checkEle()" value="no">
      <div id="addEle"></div>
</form>
<br>
<br>
<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you satisfied all of your seminar requirements?</p>
      Yes<input type="radio" name="course" id="semYes" onclick="checkSem()" value="yes">
      No<input type="radio" name="course" id="semNo" onclick="checkSem()" value="no">
      <div id="addSem"></div>
</form>
<br>
<br>
<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you satisfied all of your science requirements?</p>
      Yes<input type="radio" name="course" id="sciYes" onclick="checkSci()" value="yes">
      No<input type="radio" name="course" id="sciNo" onclick="checkSci()" value="no">
      <div id="addSci"></div>
</form>

<br>
<br>

<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you satisfied your Humanities requirements?</p>
      Yes<input type="radio" name="course" id="hmnYes" onclick="checkHmn()" value="yes">
      No<input type="radio" name="course" id="hmnNo" onclick="checkHmn()" value="no">
      <div id="addHmn"></div>

</form>
<br>
<br>

<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you satisfied your Social Science requirements?</p>
      Yes<input type="radio" name="course" id="sosciYes" onclick="checkSoSci()" value="yes">
      No<input type="radio" name="course" id="sosciNo" onclick="checkSoSci()" value="no">
      <div id="addSoSci"></div>

</form>

<br>
<br>

<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you satisfied your Gen Ed requirements?</p>
      Yes<input type="radio" name="course" id="genYes" onclick="checkGen()" value="yes">
      No<input type="radio" name="course" id="genNo" onclick="checkGen()" value="no">
      <div id="addGen"></div>

</form>

<br>
<br>

<form action="https://www.wikihow.com/Main-Page" method="get">
      <p>Have you satisfied your Assembly requirements?</p>
      Yes<input type="radio" name="course" id="ambYes" onclick="checkAmb()" value="yes">
      No<input type="radio" name="course" id="ambNo" onclick="checkAmb()" value="no">
      <div id="addAmb"></div>

</form>
<button type="button" class="btn btn-primary" onclick="onSubmit()">Submit Course list</button>
</div>

</div>
<div align="center"><table id="myTable" align="center">

<div class="w3-center">
  <table align="center" id="classTable" class="table-responsive table-hover table-striped" >

  </table>
</div>


</div>
