<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>displaycourses</title>
</head>
<body>
<span class="w3-jumbo w3-hide-small"><center><font size = "20"><% provide(:title, @user.name) %></font> </center></span><br>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
                <%= link_to "Log out", "/login", method: :destroy %>
            </h1>
        </section>
    </aside>
</div>
<div class="row">

    <%= render 'stcs/form.html.erb' %>




</div>

</body>
</html>
