
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>displaycourses</title>
</head>
<body>
<form action="/action_page.php" method="get">
    <input type="checkbox" name="course" value="course1">Course Name<br>
    <input type="checkbox" name="course" value="course2">Course Name<br>
    <input type="submit" value="Submit">
</form>
<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
                <%= link_to "Log out", "/login", method: :destroy %>
            </h1>
        </section>
    </aside>
</div>
<div class="row">

    <%= render 'stcs/form.html.erb' %>

</div>

</body>
</html>
