<<<<<<< HEAD
    <script type="text/javascript" src="/javascripts/lib/stcCheck.js"></script>
=======

<!DOCTYPE html>
<html lang="en">
<head>
>>>>>>> a3fe50f9da0f7c0d807a795946d541db3ea96855
    <meta charset="UTF-8">
    <title>Display Courses</title>
</head>
<body>
<form action="https://www.wikihow.com/Main-Page" method="get">
    <input type="checkbox" name="course" value="course1">Course Name<br>
    <input type="checkbox" name="course" value="course2">Course Name<br>
    <input type="submit" value="Submit">
</form>
<% provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
                <%= link_to "Log out", "/login", method: :destroy %>
            </h1>
        </section>
    </aside>
</div>


    <%= render 'stcs/form.html.erb' %>

</div>

</body>


</html>
