
    <script type="text/javascript" src="/javascripts/lib/stcCheck.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>
<div class="w3-container" >
  <div class="w3-center">
    <center><% provide(:title, @user.name) %></center>
  </div>
<div>

<div class="row">

        <section class="user_info">
            <h1 class="w3-center">
                <%= gravatar_for @user %>
                <%= @user.name %>
                <%= link_to "Log out", "/login", method: :destroy %>
            </h1>
        </section>

</div>
<button id="math"onclick="checkMath()">Have you taken Probability and statistics</button>

  <!--  <%= render 'stcs/form.html.erb' %> -->

</div>

</body>


</html>
