<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>W3.CSS Template</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("https://spendefy.com/wp-content/uploads/2016/01/Morehouse-College-1.0.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}
</style>

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top-center">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="#home" class="w3-bar-item w3-button w3-wide">LOGO</a>
        <!-- Right-sided navbar links -->
        <div class="w3-right w3-hide-small">
            <!--<a href="#about" class="w3-bar-item w3-button">LOG IN</a>-->
            <%= link_to "Sign up", "/signup" , :class => "w3-bar-item w3-button" %>
            <%= link_to "Login", "/login" , :class => "w3-bar-item w3-button" %>

            <a href="#about" class="w3-bar-item w3-button">About</a>
            <a href="#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Team</a>
            <!--<a href="#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> WORK</a>-->
            <!--<a href="#contact" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Contact</a>-->
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()"><i class="fa fa-bars"></i></a>
    </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
    <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
    <!--<a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>-->
    <!--<a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>-->
    <!--<a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>-->
</nav>

<!-- Header with full-height image -->
<!--
<div class="w3-display-container w3-grayscale-min">
	<img src="https://spendefy.com/wp-content/uploads/2016/01/Morehouse-College-1.0.jpg">
    <div class="w3-display-left w3-text-white" style="padding:24px">
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"> </span><br>
       <span class="w3-jumbo w3-hide-small">Computer Science Matriculation</span><br>
    </div>
</div>
-->
<div class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-center w3-text-white" style="padding:24px">
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"> </span><br>
        <span class="w3-jumbo w3-hide-small"><center><font size = "20"> Computer Science Matriculation </font> </center></span><br>
    </div>
    <div class="w3-display-bottomleft w3-text-grey w3-large" style="padding:24px 48px"></div>
</div>
<!-- About Section -->
<div class="w3-container" style="padding:128px 16px" id="about">
    <h3 class="w3-center">ABOUT THE MATRICULATION PORTAL</h3>
    <p class="w3-center w3-large">The goal of the Morehouse College Computer Science Degree Tracker product is to be your online academic advisor in order to aid your class selection during your tenure at Morehouse College. The ultimate goal of our product is to get you to graduate in four years having taken the proper degree requirements for graduation</p>
    <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
            <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
            <p class="w3-large">Register</p>
            <p>Register for classes that fulfill your major classes, general education requirements, and personal interests.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Plan</p>
            <p>A successfull student is one that plans ahead. Plan out your class schedule for the school years to come.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Graduate</p>
            <p>Graduation is your goal, so we make it our priortity. This service will make sure you run a successful race to the finish line.</p>
        </div>
        <div class="w3-quarter">
            <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
            <p class="w3-large">Learn</p>
            <p>There is a course for every type of student. Learn about different professors and the classes that they teach.</p>
        </div>
    </div>
</div>

<!-- Team Section -->
<div class="w3-container" style="padding:128px 16px" id="team">
    <h3 class="w3-center">THE TEAM</h3>
    <p class="w3-center w3-large">The Creators of the CS Matriculation App</p>
    <div class="w3-row-padding" style="margin-top:64px">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="https://scontent.fatl1-1.fna.fbcdn.net/v/t1.0-9/11018576_844484528926450_761083418925321997_n.jpg?oh=784be63ca76765540de01219ac2adc57&oe=5AAADA1E" alt="John" style="width:100%">
                <div class="w3-container">
                    <h3>Nicholas Reynolds</h3>
                    <p class="w3-opacity">Web Designer</p>
                    <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="https://media-exp2.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkjAAAAJDM0ZTUxNDliLWVjNTUtNGJlYi1iM2UzLTdmZjdkN2VkZGExMQ.jpg" alt="John" style="width:100%">
                <div class="w3-container">
                    <h3>Khalif Ali</h3>
                    <p class="w3-opacity">Developer</p>
                    <p>Originally from Philadelphia, Pennsylvania, Khalif is a Senior Computer Science Major at Morehouse. He enjoys anime, chinese food, and lofi hip-hop.</p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAA0gAAAAJDA0MWViNzU2LTE4YzItNGFjMC1hZTcyLTMyYmNlMWNjN2U2NQ.jpg" alt="Mike" style="width:100%">
                <div class="w3-container">
                    <h3>Julian Hutson</h3>
                    <p class="w3-opacity">-</p>
                    <p>Julian is a senior computer science major from Queens, New York. He loves to read, bike ride, and enjoy the outdoors.</p>
                </div>
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-card">
                <img src="https://outlook.office.com/owa/service.svc/s/GetAttachmentThumbnail?id=AAMkADNkMWM4ZWQ0LTg0ZjAtNGZjZS05ZmI2LThlN2ZhYTg4YzQ3ZQBGAAAAAACljEt9qrRqSaIKL0%2FBB3EPBwCLruSvl2UZQardV0LfHFcwAAAAAAEMAACLruSvl2UZQardV0LfHFcwAAMZLxifAAABEgAQAF1%2B7GrZnwlBk%2B5KicwcV3Q%3D&thumbnailType=2&X-OWA-CANARY=tICfgRUwe0GrZdt5k0G_ZtDlE5c3OdUYPf1vCRyHl9Qpp1NR8nCDbYv4-Lnf95Ih0SuWA777ZeU." alt="Dan" style="width:100%">
                <div class="w3-container">
                    <h3>Bertram Sears</h3>
                    <p class="w3-opacity">Developer</p>
                    <p>Bertram is a Senior Computer Science Major from Atlanta, GA.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<!-- Add Google Maps -->
<script>
    function myMap(){
        myCenter=new google.maps.LatLng(33.746812, -84.413822);
        var mapOptions= {
            center:myCenter,
            zoom:12, scrollwheel: false, draggable: false,
            mapTypeId:google.maps.MapTypeId.ROADMAP
        };
        var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);
        var marker = new google.maps.Marker({
        position: myCenter,
        });
        marker.setMap(map);
    }
    // Modal Image Gallery
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }
    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
        } else {
            mySidebar.style.display = 'block';
        }
    }
    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->
</body>
</html>
